* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 0;
  margin: auto;
}
body {
  text-align: center;
}

/* Header, Logo and Nav-bar*/

.header {
  display:flex;
  background-color:#4c9aee;
  height: 50px;
  margin-top: 0;
  justify-content:space-between;
  align-items:center;
}
.nav-bar {
  display:flex;
  justify-content: space-around;
  flex: 1;
}
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-list li{
  margin-left: 20px;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-list a {
  color:white;
  text-decoration: none;
}
.logo{
  display:flex;
  justify-content: flex-start;
  align-items:center;
  flex: 1;
}
.logo img{
  width: 150px;
  cursor:pointer;
}

/* Text Style */
h1{
  font-size: 65px;
  color: black;
  margin-top: 40px;
  margin-bottom: 20px;
}
p{
  font-size: 15px;
  font-style:italic;
  font-weight: 300;
}

/* Search-box and bottom style */
.search-box {
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 10px;
    width: 400px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .search-box:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
  }
  .search-bottom {
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-weight: 500;
    color: white;
    background-color: #4c9aee;
  }
  .search-bottom:active {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
  }

  /* Book box style */
  .highlight {
    background-color: lightgrey;
  }
  .highlight:active {
    background-color: #4c9aee;
    color: white;
  }
  .book-box {
    color: black;
    width: 700px;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    border: 0.5px solid #4c9aee;
  }
  .book-list-box {
    margin-bottom:80px;
  }


  /* Tablet styles */
  @media only screen and (min-width:451px) and (max-width:960px) {
    .logo {
      display: none;
    }
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 20px;
      cursor: pointer;
      margin-right: 20px;
    }
    
    /* Stili per le barre dell'hamburger menu */
    .bar {
      width: 100%;
      height: 4px;
      background-color: white;
    }
    
    .nav-list {
      display: none;
      margin-bottom:50px;
    }
    .nav-list.show {
      display: flex;
      flex-direction: column;
      text-decoration: underline;
      text-decoration-color: white;
      list-style-type: none;
      position: absolute; 
      top: 40px; 
      right: 0px; 
      background-color: #4c9aee;
      padding: 10px;
      margin-top: 10px;
    }
    .nav-list.show li {
      margin-bottom: 10px;
      cursor:pointer;
    }
    .nav-list.show a {
      margin-right:10px;
      color: white;
      text-decoration: none;
    }
    h1 {
      font-size: 60px;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
    .search-box {
      width: 90%;
    }
    .book-box {
      width: 90%;
    }
    .book-list-box {
      margin-top: 50px;
    }
    .highlight {
      background-color: #4c9aee;
      color: white;
    }
  }

   /* Mobile styles */
   @media only screen and (max-width: 450px) {
    .logo {
      display: none;
    }
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 20px;
      cursor: pointer;
      margin-right: 20px;
    }
    
    /* Stili per le barre dell'hamburger menu */
    .bar {
      width: 100%;
      height: 4px;
      background-color: white;
    }
    

    .nav-list {
      display: none;
    }
    .nav-list.show {
      display: flex;
      flex-direction: column;
      text-decoration: underline;
      text-decoration-color: white;
      list-style-type: none;
      position: absolute; 
      top: 40px;
      right: 0px; 
      background-color: #4c9aee;
      padding: 10px;
      margin-top: 10px;
    }
    .nav-list.show li {
      margin-bottom: 10px;
      cursor:pointer;
    }
    .nav-list.show a {
      margin-right:10px;
      color: white;
      text-decoration: none;
    }
    h1 {
      font-size: 55px;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
    .search-box {
      width: 90%;
    }
    .book-box {
      width: 90%;
    }
    .book-list-box {
      margin-top: 50px;
    }
    }
    .highlight {
      background-color: #4c9aee;
      color: white;
    }
